body {font-family: Georgia, serif;}
h1, h2 {color: RosyBrown}
.evenrow {background-color:RosyBrown}
h1 {font-size: 3 em}
h2 {font-size: 2 em}
body {background-color:#fceee9}
text {color:#000000}
link {color:RosyBrown}
h1, h2 {color:RosyBrown}
nav {background-color: #f8d3c5}
nav a {color: RosyBrown}
nav a:hover {background-color: #dde6d5;}
nav {padding: 10px;}
nav {margin-bottom: 30px}
header {text-align: center;}
.skill-row {display: flex; justify-content: space-between}
.skill-col{text-align: center;}
.skill-col i{display: block; width: 60px; margin: 0 auto 10px;}